*.class
.vscode
/gitarra/.settings
/gitarra/.vscode
/gitarra/.classpath
/gitarra/target/
lab3/.settings/org.eclipse.core.resources.prefs
lab3/.settings/org.eclipse.jdt.core.prefs
lab3/.settings/org.eclipse.m2e.core.prefs
gitarra/.project
lab3/.classpath
lab3/.project
lab3/scripts/hsqldb.jar
lab3/target/surefire-reports/pl.tau.s15664.DatabaseTestSuite.txt
lab3/target/surefire-reports/TEST-pl.tau.s15664.DatabaseTestSuite.xml
